html, body { background:url(../img/xlight_fabric.jpg) top left repeat; }
img { border:0; }
#debug {
  display:none;
  position:fixed;
  top:0;
  left:0;
  padding:10px;
  background-color:yellow;
  z-index:99999999999;
}
#shadow {
  display:none;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:1001;
  background:url(../img/bg_black_30_1x1.png) top left repeat;
}
.curled-shadow {
  position:relative;
  width:90%;
  -webkit-box-shadow:0 0 4px 0 rgba(0,0,0,0.2) inset;
  -moz-box-shadow:0 0 4px 0 rgba(0,0,0,0.2) inset;
  -o-box-shadow:0 0 4px 0 rgba(0,0,0,0.2) inset;
  -ms-box-shadow:0 0 4px 0 rgba(0,0,0,0.2) inset;
  -khtml-box-shadow:0 0 4px 0 rgba(0,0,0,0.2) inset;
  box-shadow:0 0 4px 0 rgba(0,0,0,0.2) inset;
  -webkit-box-shadow:0 0 4px 0 rgba(0,0,0,0.2);
  -moz-box-shadow:0 0 4px 0 rgba(0,0,0,0.2);
  -o-box-shadow:0 0 4px 0 rgba(0,0,0,0.2);
  -ms-box-shadow:0 0 4px 0 rgba(0,0,0,0.2);
  -khtml-box-shadow:0 0 4px 0 rgba(0,0,0,0.2);
  box-shadow:0 0 4px 0 rgba(0,0,0,0.2);
}
.curled-shadow:before, .curled-shadow:after {
  content:"";
  position:absolute;
  bottom:7px;
  left:0px;
  width:40%;
  height:10px;
  max-width:300px;
  z-index:-1;
  -webkit-box-shadow:0 6px 12px 0 rgba(0,0,0,0.3) inset;
  -moz-box-shadow:0 6px 12px 0 rgba(0,0,0,0.3) inset;
  -o-box-shadow:0 6px 12px 0 rgba(0,0,0,0.3) inset;
  -ms-box-shadow:0 6px 12px 0 rgba(0,0,0,0.3) inset;
  -khtml-box-shadow:0 6px 12px 0 rgba(0,0,0,0.3) inset;
  box-shadow:0 6px 12px 0 rgba(0,0,0,0.3) inset;
  -webkit-box-shadow:0 6px 12px 0 rgba(0,0,0,0.3);
  -moz-box-shadow:0 6px 12px 0 rgba(0,0,0,0.3);
  -o-box-shadow:0 6px 12px 0 rgba(0,0,0,0.3);
  -ms-box-shadow:0 6px 12px 0 rgba(0,0,0,0.3);
  -khtml-box-shadow:0 6px 12px 0 rgba(0,0,0,0.3);
  box-shadow:0 6px 12px 0 rgba(0,0,0,0.3);
  -webkit-transform:skew(-2deg) rotate(-2deg);
  -moz-transform:skew(-2deg) rotate(-2deg);
  -o-transform:skew(-2deg) rotate(-2deg);
  -ms-transform:skew(-2deg) rotate(-2deg);
  -khtml-transform:skew(-2deg) rotate(-2deg);
  transform:skew(-2deg) rotate(-2deg);
}
.curled-shadow:after {
  right:0px;
  left:auto;
  -webkit-transform:skew(2deg) rotate(2deg);
  -moz-transform:skew(2deg) rotate(2deg);
  -o-transform:skew(2deg) rotate(2deg);
  -ms-transform:skew(2deg) rotate(2deg);
  -khtml-transform:skew(2deg) rotate(2deg);
  transform:skew(2deg) rotate(2deg);
}
.fullRow {
  display:block;
  float:left;
  width:100%;
}
.flashMessage {
  text-align:center;
  margin-bottom:30px;
}
.lead-list { padding-left:30px; }
.lead-list li {
  margin-bottom:2px;
  font-size:16px;
  font-weight:200;
  line-height:20px;
}
@media only screen and (min-width: 960px) {
}
@media only screen and (max-width: 959px) {
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
}
@media only screen and (max-width: 767px) {
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
}
@media only screen and (max-width: 479px) {
}
