<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body bgcolor="#999c97" style="font-family:Arial; font-size:12px;line-height:2.5em;">

<table cellpadding="0" cellspacing="0" width="542" bgcolor="#ffffff" align="center">
	<tr>
		<td style="padding-left:30px; padding-right:30px;font-family:Arial; font-size:12px;line-height:2.5em;">
			<br>
			Dear #Username#,
		</td>
	</tr>

  <tr>
    <td style="padding-left:30px; padding-right:30px; padding-bottom:5px;line-height:2em;font-family:Arial; font-size:12px;" bgcolor="#ffffff">
      <p>Welcome to #SiteName#.</p>
      <p>Please click the link below to activate your account.</p>
      <p>
        <a href="#BaseURL#api/accounts/#UserID#?request_id=#RequestID#&code=#Code#" target='_blank'>Click here to activate your account</a>
      </p>
			<p>Thank you!</p>
		</td>
	</tr>

</table>

</body>
</html>